.div {
    color: var(--gray-300);
    position: relative; /* Adiciona position: relative */
    top:-26px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div textarea{
    background-color: var(--gray-500);
    color: var(--gray-100);
    border-color: var(--gray-700);
    resize: none;
    width: 638px;
    height: 54px;
    text-align: center; /* Centraliza horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding-top: 16px; /* Adiciona padding-top */
}

.div textarea:focus{
    border-color: var(--purple-dark);
    outline: none; /* Remove a borda de foco padrão */
}
 
.div button{
    display: flex;

    background-color: var(--blue-dark);
    color: var(--gray-100);
    border:0;
    border-radius: 8px;
    margin-left: 8px;

    height:52px;
    width: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
}


 

.div button img{
  padding-left: 8px;

} 